body {
	background-color: black;
	color: white;
}

.submitBtn{
	margin-top:50px;
}
.form-inline{
	margin-top: 50px;
}
.form-group{
	margin-left:100px;
}
.table-responsive{
	margin-top: 50px;
}
#title{
	font-size: 20px;
	margin-top: 50px;
}
.container {
	perspective: 1000px;
}
#screen {
	text-align: center;
	background-color: #fff;
	height: 100px;
	width: 80%;
	margin: 15px auto;
	transform: rotateX(-25deg);
	box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
/* #screen{
	width:91%;
	border:1px solid #000;
	text-align: center;
	margin-left: 7%;
	margin-top: 50px;
	background-color: #7662FC;
} */
#table-screen{
	margin-top: 40px;
	margin-left:auto;
	margin-right: auto;
	border-spacing: 2px;
  	border-collapse: separate;
}
.table {
	width: 80%;
}
#table-screen-row{
	margin-top:10px;
}
th {
	padding: 1px;
}
/* .seat {
	background-color: #444451;
	height: 12px;
	width: 15px;
	margin: 3px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.seat.selected {
background-color: #6feaf6;
}

.seat.occupied {
background-color: #fff;
} */
.screen-map{
	margin-left: 50%;
	margin-top:-50px;
}
.reserved-seat{
	height: 15px;
	width: auto;
	/*content: '';*/
    /*background: url('../img/reserved-seat.png');*/
}
.empty-seat{
	cursor: pointer;
	height: 15px;
	width: auto;
	/*content: url('../img/empty-seat.png')*/
}
.booked-seat{
	height: 15px;
	width: auto;
	cursor: pointer;
	content: url('../img/booked-seat.png');
}
.error{
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}